* { 
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.title1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
} 

.text1 {
    font-size: 16px;
    text-align: center;
    color: #727272;
    width: 50%;
    margin: 0 auto;
}

.block {
    background-color: #E5E5E5;
    padding: 119px 101px;
}

.container{
     width: 80%;
     margin: 0 auto;
     overflow: hidden;
 }
 .projects{
    background-color: #34547A;
    padding: 100px 0;
}
   
.projectitem {
    width: 16.6%;
    float: left;
}     

 .projecttitle {
    color: white;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
 }

 .projectdescription {
    color: white;
    font-size: 16px;
}

.projectscontent {
    width: 50%;
    float: left;;
}

.projecticon{
    float: left;
    margin-right: 10px;   
}

html {
    font-size: 20px;
}
.parent {
    font-size: 10px;
}

.child {
    font-size: 2rem;
    }

svg {
    fill: red;
    stroke: royalblue;
}

svg:hover {
    fill: green;
    }

   .test5 {
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background-color: tomato;
       position: fixed; 
    right: 100px;
    bottom: 100px;
   } 
   
   