* { 
    box-sizing: border-box;
}
@font-face {
    font-family: "Balsamiq";
    src: url("./fonts/BalsamiqSans-Bold.ttf")
} 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
body {
    margin: 0;
    padding: 0;
    
}

.title1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
    font-family: '';
} 

.text1 {
    font-size: 16px;
    text-align: center;
    color: #727272;
    width: 50%;
    margin: 0 auto;
    font-family:Dancing Script;
}

.block {
    background-color: #E5E5E5;
    padding: 119px 101px;
}

.container{
     width: 80%;
     margin: 0 auto;
     overflow: hidden;
 }
 .projects{
    background-color: #34547A;
    padding: 100px 0;
}
   
.projectitem {
    width: 16.6%;
    float: left;
}     

 .projecttitle {
    color: white;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
 }

 .projectdescription {
    color: white;
    font-size: 16px;
}

.projectscontent {
    width: 50%;
    float: left;;
}

.projecticon{
    float: left;
    margin-right: 10px;   
}

html {
    font-size: 20px;
}
.parent {
    font-size: 10px;
}

.child {
    font-size: 2rem;
    }

svg {
    fill: red;
    stroke: royalblue;
}

svg:hover {
    fill: green;
    }

   .test5 {
       width: 10px;
       height: 10px;
       border-radius: 50%;
       background-color: tomato;
       position: fixed; 
    right: 100px;
    bottom: 100px;
   } 

   .Border {
    font-family: "Balsamiq";
   }

   .block1 {
    background-color:#EEEFF1;
    padding: 57px;}

   .item {
    /* font-family:'Indie Flower'; */
    font-family: 'Krona One', sans-serif;
    float: left;
    font-size: 16px;
    color: #000000;
    margin-right: 42px;
   }

   .test9 {
       height: 500px;
       background-color: tomato;
   }
   @media(max-width:700px){
       .test9 {
        background-color: rgb(238, 224, 71);
        }
    }

    .gallery-item-paper {
        width: 25%;
        height: 480px;
        float: left;
        background-image: url("gallery-paper.png");
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .gallery-item-laptop {
        width: 25%;
        height: 480px;
        float: left;
        background-image: url("gallery-laptop.png");
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .gallery-item-paper-shadew {
        background-color: rgba(52, 84, 122, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 1s all ease-in;
    }

    .gallery-item-laptop-shadew {
        background-color: rgba(52, 84, 122, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 1s all ease-in;
    }

   .gallery-item-laptop-shadew:hover {
       opacity: 1;
   }

   .gallery-item-paper-shadew:hover {
       opacity: 1;
   }

   .microsoft-item {
       float: left;
       padding-right: 30px;
   }

   .container-microsoft {
       width: 80%;
       padding: 72px 100px;
   }

   
   
   